DOMAIN=example.com
PUBLIC_ORIGIN=https://example.com

DB_USER=postgres
DB_PASSWORD=change-this-long-random-password
DB_NAME=construction_tools

ADMIN_TOKEN=change-this-long-random-admin-token

PARSER_CRON_ENABLED=false
DUKON_CRON_BATCH_LIMIT=30
TH_TOOLS_CRON_BATCH_LIMIT=30
DUKON_DISCOVERY_MAX_PAGES=5000

SUPPLIER_7745_CRON_ENABLED=false
SUPPLIER_7745_CRON_BATCH_LIMIT=30
SUPPLIER_7745_CATEGORY_INCLUDE_REGEX=запчаст|инструмент|электроинструмент|оснаст|оборудован|строй|строител|отделоч|крепеж|фурнитур|сантех|климат|электрик|спецодеж|сиз|садовая техника|автотовар
SUPPLIER_7745_CATEGORY_EXCLUDE_REGEX=семена|зоотовары|аквариум|кухон|ванн|космет|спорт|единоборств|эпилятор|яйцевар|наушник|гарнитур

SWAGGER_ENABLED=false
